/* Remove predefined margins and set entire high for body and html */
html, body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    /* Rimosso background-color: #f4f4f4; dal body */
    font-family: sans-serif;
    overflow: auto; 
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 

    /* --- BACKGRROUND MANAGEMENT --- */
    background-size: cover; /* Cover entire body area without chnaging image ratio */
    background-position: center;
    background-repeat: no-repeat; /* Avoid image to be replicated */
    background-attachment: fixed; /* Fix background during scrolling */
    /* -------------------------------------- */
}

header {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start; /* Everything aligned to left */
    width: 100%;
}

.menu-icon {
    cursor: pointer;
    padding: 5px;
    z-index: 100;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s; /* Modify to change fade effect */
}

/* Stile per il menu */
.menu {
    display: none; /* Hide menu by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    /* background-color: DimGrey; */
    background-color: rgba(68, 68, 68, 0.4);
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 99;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #555;
}

.menu.open {
    display: block; 
}

#controls {
    margin: 10px 0;
    z-index: 10;
    /* Aggiunge uno sfondo semi-trasparente per migliorare la leggibilità del testo */
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 10px;
    border-radius: 5px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1; 
    padding: 10px;
}

.block_station {
    /* Le dimensioni verranno impostate da JavaScript */
    background-color: #007bff;
    background-image: url("images/billiard_log_1.jpeg");
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(97, 78, 78);
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s, width 0.3s, height 0.3s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Avoid image to be replicated */
}

.block_station_top, .block_station_bottom {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
    margin: 0 10px;
}

.block_station_top {
    flex-grow: 1;
    border-bottom: 1px solid #ccc;
    background-color: rgba(240, 240, 240, 0.6);
}

.block_station_bottom {
    flex-grow: 3;
    background-color:rgba(224, 224, 224, 0.6);
}

.block:hover {
    transform: scale(1.05);
}
